#img-80
    width: 80%
    transform: translateX(25px)
.header-comp
  height: 31.6rem
  background: url("https://s3-alpha-sig.figma.com/img/1461/f3d6/ff74c027a1888544144abe4be6e02cbf?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mV2AI-qEmmsz14TjG~Tr3HdIYO61pi5zW3UUqAPlufmqdkWJvIgwZmeKB7mxS3jvGnhM3Bx7GsZyVYuCqw04x8rCAzaamKrQMfKmHTq~KDmPCqDdWYKZAS6dx3XR92uZQQOtHxOvgk1RHRl-2qx8LgqhNwYE2LOXatqLy9tpAxYtueXc7F7lSoi7VlrNRRhUt4MpuEVIru3tcZOveDZr1QKPCD5CuEk-dixXSFoRmfIhQ7UNMk13AnNhjdj8jg7lfAptMrc8~oJ~27FoUIeXW40mQQDdELzwswtnG2dMTkkODthla2Upr8p9QD5-h2l6-b3giiqaJx7SpW3FUotjlg__") center / cover no-repeat
  color: #000
  &__wrapper
    width: 100%
    height: 100%
    backdrop-filter: blur(.3rem)
    display: grid
    align-content: center
    justify-items: center
  &__title
    font-size: 4.8rem
    font-weight: 500
  &__text-bold
    font-weight: 500
  &__text-normal
    font-weight: 300
  &__text-arrow
    font-size: 2rem
    margin: 0 .6rem 0 .6rem

//comparison
.comparison
  margin: 3.5rem 5.5rem 11.2rem 5.5rem
  display: grid
  grid-template-rows: repeat(2, auto-fit)
  font-size: 2rem
  color: $color-black
  & button
     font-size: 2rem
     padding: 1.7rem 4.8rem
  &__row-1
    padding: 0 4.2rem 5.5rem 4.2rem
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 4.7rem
    &__col-1
      grid-column: 1 / 2
      &__link
        font-size: 2rem
        color: $color-grey-primary
        text-decoration: underline
        text-underline-offset: .8rem
        &:hover
          color: $color-primary
    &__col-2
      grid-column: 2 / 3
    &__col-3
      grid-column: 3 / 4
    &__col-4
      grid-column: 4 / 5
      &__title
        font-size: 2.4rem
        font-weight: 500
        color: $color-black
        line-height: 126.5%
        margin-bottom: 2rem
      & .select-wrapper
          background-color: $color-primary
          border-radius: 1rem
          padding: .7rem 1.8rem
          max-width: 25rem
      & select
          //appearance: none
          background-color: $color-primary
          border: none
          color: $color-white
          font-family: 'Poppins', sans-serif
          font-size: 1.4rem
          cursor: pointer
          padding-right: 4rem
          width: 100%
          &:focus
            outline: none 
  &__product-img
    background-color: $color-pale-beige
    border-radius: 1rem
    width: 28rem
    height: 17rem
    & img
       width: 100%
       object-fit: cover
       align-self: center
  &__product-title
    font-size: 2.4rem
    font-weight: 500
    color: $color-black
    line-height: 126.5%
    margin-top: 1.8rem
  &__product-price
    font-size: 1.8rem
    font-weight: 500
    color: $color-black
    margin: .7rem 0
  &__product-raiting
    display: flex
    align-items: center
    &__score
      font-size: 1.8rem
      font-weight: 500
      color: $color-black
    &__reviews
      font-size: 1.3rem
      color: $color-grey-light
  &__row-2
    border-top: solid .1rem #E8E8E8
    display: grid
    grid-template-columns: repeat(4, 1fr)
    & p
      margin-bottom: 3.4rem
    & > *
      display: flex
      flex-direction: column
      gap: 9.5rem
      padding: 4.2rem 4.2rem 0 4.2rem
    &__col-1
      grid-column: 1 / 2
      border-right: solid .1rem #E8E8E8
    &__col-2
      grid-column: 2 / 3
      border-right: solid .1rem #E8E8E8
    &__col-3
      grid-column: 3 / 4
      border-right: solid .1rem #E8E8E8
    &__col-4
      grid-column: 4 / 5  
  &__row-3
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(7, fill-content)

.c1
  grid-column: 1 / 2
  border-right: solid .1rem #E8E8E8
  padding: 2rem 4.2rem
.c2
  grid-column: 2 / 3
  border-right: solid .1rem #E8E8E8
  padding-bottom: 3.5rem
  padding: 2rem 4.2rem
.r1
  grid-row: 1 / 2
.r2
  grid-row: 2 / 3
.r3
  grid-row: 3 / 4
.r4
  grid-row: 4 / 5
.r5
  grid-row: 5 / 6
.r6
  grid-row: 6 / 7
.r7
  grid-row: 7 / 8
//conditions
.conditions
  background-color: $color-pale-beige
  padding: 10rem 5.3rem
  display: flex
  flex-direction: row
  gap: 5.5rem
  justify-content: space-evenly
  &__block
    display: grid
    grid-template-rows: repeat(2, min-content)
    grid-template-columns: repeat(2, auto-fit)
    &__icon
      width: 6rem
      height: 6rem
      margin-right: 1rem
      grid-row: 1 / -1
      grid-column: 1 / 2
    &__title
      font-size: 2.5rem
      font-weight: 600
      grid-row: 1 / 1
      grid-column: 2 / 3
    &__text
      color: $color-grey-primary
      font-size: 2rem
      font-weight: 500
      line-height: 150%
      grid-row: 2 / 3
      grid-column: 2 / 3